<%- include('./reusable/member_reusable'); %>
<head>
  <title>Infinity Drones Pilot Portal</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script>
    var link = document.querySelector("link[rel~='icon']");
    if (!link) {
      link = document.createElement('link');
      link.rel = 'icon';
      document.head.appendChild(link);
    }
    link.href = 'https://i.imgur.com/4KBcfHV.png'; 

    // index.js

// const imageForm = document.querySelector("#imageForm");
// const imageInput = document.querySelector("#imageInput");

// imageForm.addEventListener("submit", async event => {
//   event.preventDefault();
//   const file = imageInput.files[0];

//   // FormData to send the file as multipart/form-data
//   const formData = new FormData();
//   formData.append('file', file);

//   try {
//     // POST the form data to '/insertnewprofile'
//     const response = await fetch('/insertnewprofile', {
//       method: "POST",
//       body: formData
//     });

//     if (response.ok) {
//       // After upload, redirect to /profile
//       window.location.href = '/profile';
//     } else {
//       console.error('Failed to upload image');
//     }
//   } catch (error) {
//     console.error('Error uploading image:', error);
//   }
// });



  </script>
 

<style>
    .content {
   margin-left: 250px; /* Adjust the margin to match the sidebar width */
   padding: 20px;
   transition: 0.5s;
  
 }
     
      body {
            background-color:white;
        }
        .topspace{
          margin-top: 5%;
        }
        
        .adddetails {
            text-align: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 43px;
            text-align: center;
            color: #5C5992;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      
     input[type=text]
     {
     width: 100%;
     padding: 15px;
     margin: 5px 0 22px 0;
     display: inline-block;
     border: none;
     background: #ffffff;
     font-family: 'Montserrat';
     
       }

 
       input[type=date]
       {
     width: 100%;
     font-family: 'Montserrat';
     padding: 15px;
     margin: 5px 0 22px 0;
     display: inline-block;
     border: none;
     background: #ffffff;
       }
       input[type=mobile]
       {
     width: 100%;
     font-family: 'Montserrat';
     padding: 15px;
     margin: 5px 0 22px 0;
     display: inline-block;
     border: none;
     background: #ffffff;
       }
       input[type=email]
       {
     width: 100%;
     padding: 15px;
     font-family: 'Montserrat';
     margin: 5px 0 22px 0;
     display: inline-block;
     border: none;
     background: #ffffff;
       }
       
     input[type=text]:focus
     {
       background-color: #ffffff;
       font-family: 'Montserrat';
       outline: none;
     }
     input[type=file]:focus
     {
       background-color: #ffffff;
       font-family: 'Montserrat';
       outline: none;
     }
     input[type=mobile]:focus
     {
       background-color: #ffffff;
       font-family: 'Montserrat';
       outline: none;
     }
     input[type=date]:focus
     {
       background-color: #ffffff;
       font-family: 'Montserrat';
       outline: none;
     }
     input[type=email]:focus
     {
       background-color: #ffffff;
       font-family: 'Montserrat';
       outline: none;
     }
 
     
     .btn{
     background-color:#ffffff;
     color: rgb(16, 16, 16);
     padding: 10px;
     font-size: 16px;
     border: none;
     border-radius: 25px;
     width: 100px;
     margin-left: 20%;
     float: right;
     width: 150px;}
     
     form {
      margin: 20px auto;
            max-width: 700px;
            background-color: #fff;
            padding: 20px;
            border-radius: 4px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 638px;
            height: 780px;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 0px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 37px;
            color:black;
     }

     label {
         display: block;
         margin-bottom: 5px;
     }

     input,
     select {
         width: 100%;
         padding: 5px;
         margin-bottom: 10px;
         border: 1px solid #ccc;
         font-family: 'Montserrat';
         border-radius: 4px;
         box-sizing: border-box;
     }

     button[type="submit"] {
      display: inline-block;
            padding: 8px 16px;
            font-family: 'Montserrat';
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            width:100px;
            background: #5C5992;
            border: 3px solid #F5F5F5;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left:250px
     }

     button[type="submit"]:hover {
      background-color: rgba(217, 217, 217, 0.17);
     }

     fieldset {
    margin-bottom: 20px; /* Adjust the spacing between fieldsets */
    padding: 12px; /* Add padding around fieldsets */
    border: 0px solid #f7f4f4; /* Add border to fieldsets */
    background-color: #f2f2f3; /* Set the background color of fieldsets */
    border-radius: 0px;}

    
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.input-container {
  display: flex;
  justify-content: space-between;
}
.input-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px; /* Adjust the gap between input fields */
}


.input-container input {
  width: 100%; /* Adjust the width of the input fields */
}
  .input-container input {
    margin: -4px; /* Adjust the spacing between the input fields */
  }
 </style>
  </head><br><br>
  <script>
    const imageInput = document.getElementById('image');
const imagePreview = document.getElementById('imagePreview');

imageInput.addEventListener('change', () => {
  const file = imageInput.files[0];
  const reader = new FileReader();

  reader.onload = () => {
    imagePreview.src = reader.result;
  };

  if (file) {
    reader.readAsDataURL(file);
  }
});

  </script>
  <div class='adddetails'>
    Insert Pilot Details
  </div>
    <center><h1><b></b></h1></center>
   
    <div class="form">
        <!-- <form id="imageForm" action="/insertnewprofile" method="POST" enctype="multipart/form-data">  commented and modiefied-->
          <form id="imageForm" action="/insertnewprofile" method="POST" >
          <fieldset>
            <div class="input-container">
            <div class>
                <label for="name"><b>Name</b></label>
                <input type="text" id="name" placeholder="Name" value="" name="name" required>
            </div></div></fieldset>
            <fieldset>
              <div class="input-container">
            <div>
                <label for="email_id"><b>Email_ID</b></label>
                <input type="email" id="emailid"  value="<%= email %>" name="emailid" readonly>
            </div></div></fieldset>
            <fieldset>
              <div class="input-container">
            <div>
                <label for="mobile_no"><b>Mobile_Number</b></label>
                <input type="mobile" id="mobile_no" name="mobile_no" placeholder="Mobile Number" value="" name="mobile_no" required>
            </div>
            <div class>
                <label for="dob"><b>DOB</b></label>
                <input type="date" id="dob" placeholder="DOB" value="" name="dob" required>
            </div>
          </div></fieldset>

         
          <fieldset>
            <div class="input-container">
          <div class>
            <label for="startdate"><b>Start Date</b></label>
            <input type="date" id="startdate" placeholder="start date" value="" name="startdate" required>
        </div>

      </div></fieldset>

            <fieldset>
              <div class="input-container">

            <div class>
                <label for="type_of_drone_experience"><b>Type of drone experience</b></label>
                <input type="text" id="type_of_drone_experience" placeholder="Type of Drone Experience" value="" name="type_of_drone_experience" required>
            </div>
            <div>

                <div class>
                    <label for="honors_and_achievements"><b>Honors and Achievements</b></label>
                    <input type="text" id="honors_and_achievements" placeholder="Honors and Achievements" value="" name="honors_and_achievements" required>
                </div></div></fieldset>
                
            <fieldset>
              <div class="input-container">
              
                <!-- <div> commented
                <label for="image"><b>Upload Image</b></label>
                <input type="file" id="image" 
                       name="image" accept="image/*" value="" required>

                       <img src="" id="imagePreview" />
            </div>-->
          </div></fieldset> 
            <div>
                <button type="submit" ONCLICK="alert('Succesfully Inserted Pilot Details...')">Submit</button>
                
            </div>
            
        </form>

        
            
    </div>